.buttons {
display: flex;
justify-content: center;
gap: 30px;
position: relative;

}

.no-wrapper {
position: relative;
}   

.btn {
width: 120px;
cursor: pointer;
user-select: none;
}

.yes•btn, .no•btn {
width: 120px;
height: auto;
display: inline-block;
}
